<div class="container">
  <div class="mt-4 d-flex flex-row justify-content-between">
    <h1>Home</h1>
    <h2>{{ time | date: 'hh:mm:ss a' }}</h2>
  </div>

  <div class="row">

    <mat-card class="m-2 mat-elevation-z4 col-sm clickable" (click)="goToRoute('devices')">
      <div class="d-flex justify-content-between">
        <h3 class="mb-0">Devices</h3>
        <mat-icon>sensors</mat-icon>
      </div>
    </mat-card>

    <mat-card class="m-2 mat-elevation-z4 col-sm clickable" (click)="goToRoute('logs')">
      <div class="d-flex justify-content-between">
        <h3 class="mb-0">Logs</h3>
        <mat-icon>description</mat-icon>
      </div>
    </mat-card>

    <mat-card class="m-2 mat-elevation-z4 col-sm clickable" (click)="goToRoute('users')">
      <div class="d-flex justify-content-between">
        <h3 class="mb-0">Users</h3>
        <mat-icon>supervisor_account</mat-icon>
      </div>
    </mat-card>

  </div>

</div>

