<span [ngClass]="themeService.selectedTheme">

<div class="mat-app-background without-header">

  <app-header [title]="title"></app-header>

  <mat-drawer-container class="mat-drawer-container">

    <!-- Sidebar -->
    <mat-drawer #drawer [mode]="sideNavOptions.mode">
      <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- Content -->
    <mat-drawer-content>
      <div class="d-flex flex-grow-1 flex-column justify-content-between min-height-100">
        <div>
          <router-outlet></router-outlet>
        </div>
        <app-footer [title]="title"></app-footer>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>

</div>

</span>
