<mat-selection-list [multiple]="false">

    <mat-list-option (click)="goToRoute('home')">
<!--      <mat-icon mat-list-icon>home</mat-icon>-->
      <mat-list-item role="listitem">Home</mat-list-item>
    </mat-list-option>

  <mat-list-option (click)="goToRoute('sensors')">
<!--    <mat-icon mat-list-icon>sensors</mat-icon>-->
    <mat-list-item role="listitem">Devices</mat-list-item>
  </mat-list-option>

  <mat-list-option (click)="goToRoute('logs')">
    <mat-list-item role="listitem">Logs</mat-list-item>
  </mat-list-option>

  <mat-list-option (click)="goToRoute('users')">
    <mat-list-item role="listitem">Users</mat-list-item>
  </mat-list-option>

</mat-selection-list>
