<mat-selection-list [multiple]="false">

  <div>
    <div mat-subheader>User</div>
    <mat-list-option (click)="goToRoute('home')">
      <mat-icon mat-list-icon>home</mat-icon>
      <mat-list-item role="listitem">Home</mat-list-item>
    </mat-list-option>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="true">
    <div mat-subheader>Admin</div>
    <mat-list-option>
      <mat-icon mat-list-icon>category</mat-icon>
      <mat-list-item role="listitem">Entities</mat-list-item>
    </mat-list-option>
    <mat-list-option>
      <mat-icon mat-list-icon>widgets</mat-icon>
      <mat-list-item role="listitem">Items</mat-list-item>
    </mat-list-option>
    <mat-list-option>
      <mat-icon mat-list-icon>local_offer</mat-icon>
      <mat-list-item role="listitem">Tags</mat-list-item>
    </mat-list-option>
  </div>

</mat-selection-list>
